.credit-card-holder .input-group{
    display:flex;
}
.cc-type{
    width: 51px;
    background-image:url(credit-card-type.png);
    background-position:-204px 0;
}
    .cc-type[data-card-type="mastercard"]{ background-position:0 0; }
    .cc-type[data-card-type="visa"]{ background-position:-51px 0; }
    .cc-type[data-card-type="amex"]{ background-position:-102px 0; }
    .cc-type[data-card-type="discover"]{ background-position:-153px 0; }

.credit-card-holder abbr{
    cursor:help;
}